package components

import "github.com/nonamecat19/go-orm/studio/internal/view/icons"

type AddRecordProps struct {
}

templ addRecordButton() {
	<div class="btn btn-neutral">
		@icons.Plus()
		Додати запис
	</div>
}

templ AddRecord(props AddRecordProps) {
	@Modal(ModalProps{Trigger: addRecordButton(), ModalTitle: "Додати запис", Key: "add_record"}) {
		<div>
			asdfasdf
		</div>
	}
}
