package components

type AddRecordProps struct {
}

templ AddRecord(props AddRecordProps) {
	<div>
		@Modal(ModalProps{TriggerTitle: "Додати запис", ModalTitle: "Додати запис", Key: "add_record"}) {
			<div>
				asdfasdf
			</div>
		}
	</div>
}
