package components

import "github.com/nonamecat19/go-orm/studio/internal/view/icons"

templ ReturnBack() {
	<div title="Повернутись назад">
		<button
			onclick="window.history.back()"
			class="btn"
			aria-label="Повернутись назад"
		>
			@icons.ArrowLeftCircle()
		</button>
	</div>
}

templ RefreshButton() {
	<div title="Оновити дані">
		<button
			class="btn"
			aria-label="Оновити дані"
		>
			@icons.Rotate()
		</button>
	</div>
}
